input[type="range"] {
    width: 300px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
}

input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
}

input[type="range"]::-ms-track {
    background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
}